
.full{
    width: 400px;
    justify-content: space-around;
    border-bottom: solid 6px palevioletred;
    padding: 20px;
    margin: 100px;
    display: flex;
    background-color: rgb(249, 220, 177);
    border-radius: 10px;
}
.img{

    width: 120px;
    border: solid 1px red;
    border-radius: 10px;       
}
.desciption{
    text-shadow: 0 0 3px #f9c805;
    font-size: medium;
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
}
.decode{

    font-weight: lighter;
    font-style: italic;
}